mat-card-footer
{
    padding-left: 5%;
    padding-bottom: 1rem;;
}

.action-button
{
    margin-left: 1rem;
}

.mat-card img
{
    border-radius:5px;
    height: 70%;
    width:90%;
    padding-left: 5%;
    padding-bottom: 1rem;
}

.mat-card
{
    height: 100%;
}