<div class="alert alert-danger alert-dismissible fade-in" [hidden] = " error ? false : true">
    <button type="button" class="close" data-dismiss="alert" (click) = "dismissErrorAlert()">&times;</button>
    <strong>Error!</strong> {{error}}
  </div>
  <mat-divider></mat-divider>
  <div class="alert alert-success alert-dismissible fade-in" [hidden] = " message ? false : true">
        <button type="button" class="close" data-dismiss="alert" (click) = "dismissMessageAlert()">&times;</button>
        <strong>Success!</strong> {{message}}
      </div>
<button mat-raised-button color="primary" class="new action-button" (click)="showAddClassForm()">Create New</button>
<button mat-raised-button color="primary" [matMenuTriggerFor]="bulkmenu" class="action-button">Bulk Action</button>
<mat-menu #bulkmenu="matMenu">
    <button mat-menu-item (click)="deleteClasses()">
        <i class="fas fa-trash"></i>
      <span> Delete</span>
    </button>
  </mat-menu>
<mat-divider></mat-divider>

<mat-card [hidden]="addClasshidden" class="login">
    <mat-card-header class="login-hdr">
        <mat-card-title>
            <h2>Class Creation</h2>
        </mat-card-title>
        <mat-card-subtitle>
            Field marked * are required.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="login-form">
        <form #addClassForm = "ngForm" (ngSubmit)="addClass()">  
        <mat-form-field class="form-group"  appearance="outline">
            <mat-label>Class Id</mat-label>
            <input name="class_id"  matInput placeholder="Eg: C1" [formControl]="classidcontrol" required>
            <mat-hint>Class Id should be unique.</mat-hint>
            <mat-error>{{getClassIdErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-group" appearance="outline">
                <mat-label>Class Name</mat-label>
                <input name="class_name" matInput placeholder="Eg: IX" [formControl]="classnamecontrol" required>
                <mat-error>{{getClassNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="action-button" mat-raised-button color="accent" type="submit" [disabled]="submitDisabled()">Save</button>
        <button class="action-button" mat-raised-button color="basic" type="reset">Reset</button>
        <button type="button" mat-raised-button color="warn" (click)="closeAddClassForm()">Cancel</button>
        </form>
        
        
    </mat-card-content>
</mat-card>


<mat-card [hidden]="editClasshidden" class="login">
        <mat-card-header class="login-hdr">
            <mat-card-title>
                <h2>Class Update</h2>
                <h4>Id : {{selectedClass.class_id}}</h4>
            </mat-card-title>
            <mat-card-subtitle>
                Field marked * are required.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="login-form">
            <form #editClassForm = "ngForm" (ngSubmit)="editClass()">  
            <mat-form-field class="form-group" appearance="outline">
                    <mat-label>Class Name</mat-label>
                    <input name="edited_class_name" [(ngModel)]="selectedClass.class_name" matInput placeholder="Eg: IX" [formControl]="editclassnamecontrol" required>
                    <mat-error>{{getEditClassNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <button class="action-button" mat-raised-button color="accent" type="submit" [disabled]="updateDisabled()">Update</button>
         
            <button type="button" mat-raised-button color="warn" (click)="closeEditClassForm()">Cancel</button>
            </form>
            
            
        </mat-card-content>
    </mat-card>






    <div class="filter">
     <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. XI">
      </mat-form-field>
    </div>
<div>  
    
    <div class="paginator">
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
<table matSort  mat-table [dataSource]="dataSource" class="mat-elevation-z8 board-table">

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

<ng-container matColumnDef="class_id">
  <th mat-header-cell *matHeaderCellDef mat-sort-header > Class Id </th>
  <td mat-cell *matCellDef="let class"> {{class.class_id}} </td>
</ng-container>


<ng-container matColumnDef="class_name">
  <th mat-header-cell *matHeaderCellDef mat-sort-header > class Name </th>
  <td mat-cell *matCellDef="let class"> {{class.class_name}} </td>
</ng-container>

<ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef color="primary"> Action</th>
    <td mat-cell *matCellDef="let class">
        <button class="action-button" mat-mini-fab color="accent" [disabled]="editDisable" (click)="showEditClassForm(class)"><i class="fas fa-edit"></i></button>
        <button  class="action-button" mat-mini-fab color="warn" (click) = "deleteClass(class._id,class.class_id,class.class_name)"> <i class="fas fa-trash"></i></button>
     </td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</div>