.bookForm
{
    padding:2%;
    margin : 7%;
    border-radius:5px;
}

.form-group 
{
    margin:1%;
    width: 45%;
    
}

.header
{
    background-color: coral;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.thumbnail{
    
    height: 200px;
    width : 200px;
    border-radius: 50%;
    border: 5px dashed coral;
    margin : 1rem
}

.example-spacer {
    flex: 1 1 auto;
  }

.avatar
{
    font-size: 200px;
}